$narrow-width: 			900px;
$extra-narrow-width: 	400px;

.acf {
	&-full-width-wrap {
		background-size: cover !important;
		background-repeat: no-repeat !important;
	}
	&-full-width-text {
		padding: 0;
		.acf-full-width-heading {
			margin-bottom: 20px;
		}
	}
	&-extra-narrow {
		max-width: $extra-narrow-width;
		margin: 0 auto;
	}
	&-narrow {
		max-width: $narrow-width;
		margin: 0 auto;
	}
	&-center {
		text-align: center;
		* {
			text-align: center;
		}
	}
	&-right {
		text-align: right;
		* {
			text-align: right;
		}
	}
	&-light {
		color: #fff !important;
		* {
			color: #fff !important;
		}
	}
}